.Navbarbg{
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: fixed;
  z-index: 90;

  
  
}
.NavB{
  padding: 0 20px;

  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
  display: flex;
  place-items: center;
  justify-content: space-between;
  width: 80vw;


}
.Nav{
  font-size: 22px;
  display: flex;
  gap: 40px;
}

.Nav h1{
  font-weight: 800;
  color: red;

  

}
.Nav a:hover{
  cursor: pointer;
  transition: all 0.8s ease;
  color: red;



}
.Nav li.active a {
  color: red; 
}
