.containr {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    place-items: center;
    justify-items: center;
}
#hd{
    font-size:75px;
}

#heading{
    font-size: 50px;
    margin: 30px 0px;


}

.team-sec {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-items: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    align-self: start;
}

.team-img img {
    border-radius: 50%;
    object-fit: cover;
    height: 220px;
    width: 220px;
    transition: border 0.1s ease;
}

.team-img img:hover {
    border: 2px solid red;
    padding: 3px;
    cursor: pointer;
  }
  
  .team-mem {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: -50px; /* Position below the image */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease; /* Transition for smooth animation */
    text-align: center;
    width: 80%; /* Add width to control the area */
  }
  
  .team-mem h1 { /* Use h3 for better semantics */
    margin: 40px 0;
  }
  
  .team-mem p {
    margin: 0 0; /* Margin top and bottom */
  }

  .team-img:hover .team-mem {
    bottom: 5px; /* Position inside the image at the bottom */
    opacity: 1;
  }

  
.team-img {
    position: relative; 
}

@media screen and (max-width: 1200px) {
    .team-img img {
        border-radius: 50%;
        object-fit: cover;
        height: 180px;
        width: 180px;
        transition: border 0.1s ease;
    }
    .team-members {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 900px) {
    .team-members {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .team-members {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        row-gap: 20px; 
    }
}
